<div id="wrapper" class="container-fluid">
<%= render partial: '/shared/main_navbar' %>

<div id="content" class="col-sm-10 col-md-offset-1">

	<%= render partial: '/shared/header' %>

	<main class="row">

		<!-- Friends -->
		<div class="col-sm-12 all-friends-container">
			
			<% if @friendships.empty?  %>
				<h2>Sorry, go make some friends!</h2>
			<% else %>
				
				<% @friendships.each do |friendship| %>
				
					<section class="profile-friend-container">
						
						<div class="col-sm-4">
							<p>Profile Image</p>
						</div>

						<div class="col-sm-4 friend-box-column-middle">
							<p class="friend-name"><%= link_to friendship.friend.name, profile_path(friendship.friend.profile) %></p>
							<p class="friend-count"><%= "#{friendship.friend.friend_count} Friends" %>
						</div>

						<div class="col-sm-4 friend-box-column-right">
							<% if belongs_to_current_profile_user? %>
								<%= link_to "Remove Friend", profile_friendship_path(:profile_id => @profile, :id => friendship.id), method: :delete, class: "btn btn-danger profile-unfriend-btn" %>
							<% end %>
						</div>

					</section>

				<% end %> <!-- /friendships loop -->

			<% end %> <!-- /IF @friendships.empty? -->

			

		</div><!-- / Friends -->

	</main>	<!-- /row -->

</div> <!-- / content -->