<div id="wrapper" class="container-fluid">
<%= render partial: '/shared/main_navbar' %>

<!-- Content -->
	<div id="content" class="col-md-10 col-md-offset-1">
		
		<div id="row">
			<section id="search-container" class="col-sm-10 col-sm-offset-1">

				<div id="search-query-info">
					<p class="text-center">Showing <%= @found_users.count %> whose first or last names contain "<%= @query %>"</p>
				</div>

				<div id="search-title-bar" class="col-sm-12">
					<h2 class="text-center">Search Results</h2>
				</div>

				<div class="col-sm-12 search-friends-container">
					<% @found_users.each do |user| %>
						<section class="profile-friend-container col-sm-12">
									
							<div class="col-sm-3">
								<%= image_tag user_avatar(user), class: "user-avatar-search friendship-thumb" %>
							</div>

							<div class="col-sm-6 friend-box-column-middle">
								<p class="friend-name"><%= link_to user.name, profile_path(user.profile) %></p>
								<p class="friend-count"><%= "#{user.friend_count} Friends" %></p>
								<p class="friend-current-location">Currently lives in <%= user.profile.currently_live || "unknown" %></p>
								<p class="friend-hometown">From <%= user.profile.hometown || "unknown" %></p>
								<p class="friend-birthday"><%= user.birthday.strftime('Born on %B %d, %Y') %></p>
							</div>

							<div class="col-sm-3 friend-box-column-right">
								<% if friend_of_current_user(user) %>
									<%= link_to "Remove Friend", profile_friendship_path(:profile_id => @profile, :id => get_friendship_id(user)), method: :delete, class: "btn btn-danger profile-unfriend-btn" %>
								<% end %>
							</div>

						</section>
					<% end %>
				</div>
			</section>
		</div>
	</div>
	<!-- / Content -->