<div id="wrapper" class="container-fluid">
<%= render partial: '/shared/main_navbar' %>

<div id="content" class="col-sm-10 col-md-offset-1">

	<%= render partial: '/shared/header' %>

	<main class="row">

		<!-- Photos -->
		<div class="col-sm-12 all-photos-container">
			<% @photos.each do |photo| %>
				
				<!-- QUESTION: This is obviously not a good naming structure...
							is there a way I can change this or am I stuck for now?-->
				<div class="col-sm-3 photo-container">
					<div class="photo-image">
						<!-- We only want the friends of users to be able to click
									the link and go to the show page. We also want to make sure
									that we can click on our own images. -->
						<% if friend_of_current_user? || belongs_to_current_profile_user? %>
							<%= link_to image_tag(photo.photo.url(:thumb)), profile_photo_path(@profile, photo) %>
						<% else %>
							<%= image_tag(photo.photo.url(:thumb)) %>
						<% end %>
					</div>
					<div class="photo-hover-block"><%= "Uploaded #{photo.created_at.strftime("%b %d, %Y")}" %></div>
				</div>
				
			<% end %>
		</div><!-- / Photos -->

	</main>	<!-- /row -->

</div> <!-- / content -->