<div id="wrapper" class="container-fluid">
<%= render partial: '/shared/main_navbar' %>

<div id="content" class="col-sm-10 col-md-offset-1">

	<%= render partial: '/shared/header' %>

	<main class="row">

		<!-- Photos -->
		<div class="col-sm-12 all-friends-container">

			<%=  form_for [:profile, @photo] do |photo_fields| %>

			  <%= photo_fields.file_field :photo %>
			  <%= photo_fields.submit class: "btn btn-primary" %>

			<% end %>

			
		</div><!-- / Photos -->

	</main>	<!-- /row -->

</div> <!-- / content -->