<div id="wrapper" class="container-fluid">
<%= render partial: '/shared/main_navbar' %>

<div id="content" class="col-sm-10 col-md-offset-1">

	<%= render partial: '/shared/header' %>

	<main class="row">

		<!-- Show Photo Main -->
		<div class="col-sm-8 show-photo-main">
			<%= image_tag @photo.photo.url, class: "show-photo" %>
		</div><!-- / Show Photo Main -->

		<div class="col-sm-4 show-photo-sidebar">
			<section class="posted-by-container col-sm-12">
				<div class="posted-by-thumb col-sm-4">
					<p>PHOTO HERE</p>
				</div>
				<div class="posted-by-meta col-sm-8">
					<p><%= link_to @user.name, profile_path(@profile) %></p>
					<p><%= @photo.created_at.strftime("%b %d, %Y") %></p>
				</div>
			</section>

			<!-- Display the comment form -->
			<section class="show-photo-comment-form">
				<%= form_for(@comment) do |f| %>
			
					<%= f.text_area :content, class: 'form-control', placeholder: 'Write a comment...' %>		
					<%= f.submit "Comment", class: 'btn btn-info pull-right' %>

				<% end %>
			</section>

			<!-- Display any comments for this photo -->
			<section class="show-photo-comments">

				<% @photo.comments.each do |comment| %>
					<div class="comment col-sm-12">
						<div class="comment-header">
							<p class="comment-author"><%= link_to comment.author.name, profile_path(comment.author.profile) %></p>
							<p class="comment-meta"><%= comment.created_at.strftime( 'said on %A %m/%d/%y' ) %></p>
						</div>

						<div class="comment-content">
							<p><%= comment.content %></p>
							<p>
								<%= display_like_link(comment) %>
								<% if belongs_to_current_user?(comment) %>
									| <%= link_to "Delete Comment", comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
								<% end %>
							</p>
						</div>
					</div>
				<% end %>

			</section>
		</div>

	</main>	<!-- /row -->

</div> <!-- / content -->